[2020-06-03 16:29] jgadsden opened #1 "Provide AutoUpdate"
This issue has been migrated from:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/101

There is a branch for applying auto-updates using squirrel.  It should be cross platform for Windows, MacOS and Linux.
File `app/app.js` has been modified to not use autoupdate via PR #102  because it was causing problems, but this modification can be undone when autoupdate is working:
[code]

[2020-06-03 16:31] jgadsden opened #2 "Vulnerabilities identified during install"
This issue has been migrated from:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/106

On cloning and then `npm install` we get:
[code]
which should be fixed

[2020-06-03 16:33] jgadsden opened #3 "Uncaught Exception thrown on Windows"
This issue has been migrated from:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/107

@thomaskonrad reports:
Exception thrown, but cannot copy it:
When I open a model, an exception `Uncaught Exception: Error: Command failed: 4294967295`. Also, I cannot copy the exception so that I could easily post it here. It says `System.Net.WebException: The remote server returned an error

[2020-06-03 16:34] jgadsden opened #4 "Update packages"
This issue has been migrated from:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/124

When running `npm install` there are warnings. These packages could be updated so that the warnings are reduced:
[code]

[2020-06-03 16:35] jgadsden opened #5 "Link and reference OWASP cheat sheets"
This issue has been migrated from:
https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/129

The OWASP project Cheat Sheets provides information on Threat Modeling :
https://cheatsheetseries.owasp.org/cheatsheets/Threat_Modeling_Cheat_Sheet.html
along with other cheat sheets on various defense topics.

[2020-06-03 16:36] jgadsden opened #6 "Provide a CLI"
This issue has been migrated from:
mike-goodwin/owasp-threat-dragon-desktop#138

It would be good if there was a CLI to Threat Dragon desktop, so that some functionality could be automated. At present this would probably just be 'generate a pdf report', but it may be useful in the future for other functions.

[2020-06-09 14:35] jgadsden opened #8 "Fix up CI tasks"
This repo has been migrated from Mike Goodwin user space, and needs the CI tasks to point to this repo rather than mike-goodwin repos

[2020-06-17 11:26] jgadsden opened #9 "Prepare Version 1.3 release"
Version 1.3 release is expected August 2020 or so. It may contain :
- command line interface
- auto-update plus code signing
- updated threat engine
- integration with EoP Threat Modeling Card Deck (under CC-BY)

It will need the usual testing, versioning, etc

[2020-06-19 07:02] jgadsden commented on #6
Pull request submitted, waiting for review

[2020-06-19 07:09] jgadsden opened #11 "Auto save for desktop version"
This issue has been migrated from :
https://github.com/mike-goodwin/owasp-threat-dragon/issues/149
and was opened by @RobSkye  :

Would be great to have all the changes autosaved everytime you make a modification to a diagram, add a threat..etc.

[2020-06-19 07:22] jgadsden commented on #1
Use update-electron-app:
https://www.electronjs.org/docs/tutorial/updates

[2020-06-21 20:15] #6 closed, assigned to jgadsden

[2020-07-05 03:05] kparris007 opened #12 "File - Save"
If you close the file without saving it, changes will be lost. There is no prompt asking whether to save the file. To overcome this issue, the user must remember to save the file manually.

[2020-07-06 08:27] jgadsden commented on #12
Hello @kparris007 - TD tries to catch closing an unsaved file/diagram. Could you provide the sequence that results in unsaved edits being lost? When I test TD I probably follow roughly the same paths through the code each time (the problem with combining dev & testing) , so if you could provide the sequence I can reproduce this

[2020-07-10 18:53] jgadsden commented on #12
@kparris007 I understand now, in that if any edits are made and then from the top level menu `OWASP-Threat-Dragon`->`Exit` (or File->Exit if running from command line) is selected then edits are lost because the application exits immediately. This is using the desktop version, so transferring this issue to the desktop repo.

[2020-07-14 05:40] jgadsden opened #13 "SHA checksum"
It would be good, in the absence of code signing, to provide SHA1 checksums for the downloads.

Similar to how it is done for OWASP ZAP: https://github.com/zaproxy/zaproxy/releases/tag/w2020-08-10

[2020-07-14 16:33] jgadsden commented on #12
Some info here, along with advice on MacOS : https://www.electronjs.org/docs/api/menu

[2020-07-28 14:06] MCOffSec opened #15 "XSS vulnerability in desktop app"
I originally reported this in the wrong repo, so I'm re-reporting it here:

There is an XSS flaw in the app that can lead to RCE, its been confirmed on the OSX version of the application. I cant track the flaw down in the application code (although admittedly my JS/Electron skills are pretty low) so cant offer a PR or fix for it :(

I've sent details via the Flowcrypt form rather than post them he

[2020-07-28 14:38] jgadsden commented on #15
Original conversation on https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/145#issuecomment-665057816

[2020-07-28 15:07] jgadsden commented on #9
Project board for this release : https://github.com/OWASP/threat-dragon-desktop/projects/

[2020-08-04 08:07] jgadsden opened #17 "Add contributing guidelines"
It would be good to have a CONTRIBUTING.md file along the same lines as OWASP ZAP's at https://github.com/zaproxy/zaproxy/blob/develop/CONTRIBUTING.md

[2020-08-05 12:07] jgadsden commented on #17
done - see commit https://github.com/OWASP/threat-dragon-desktop/commit/d7bc5f6b2f23ff9377502dd6b68e48fa5855522f

[2020-08-05 12:08] #17 closed, assigned to jgadsden

[2020-08-09 08:15] #8 closed, assigned to nobody

[2020-08-09 11:38] jgadsden opened #28 "add 'help -> update' menu option"
**Is your feature request related to a problem? Please describe.**
It would be good to be able to see if updates were available

**Describe the solution you'd like**
If we could have an 'updates' selection from the Help pull down menu

**Describe alternatives you've considered**

**Additional context**

[2020-08-10 15:59] jgadsden commented on #28
It would be good if the cheat sheets could be referenced in the Help menu as well?

[2020-08-11 10:56] #4 closed, assigned to jgadsden

[2020-08-11 13:12] jgadsden commented on #28
Done via commit https://github.com/OWASP/threat-dragon-desktop/commit/4eef14c21a6f4e3276987e98510ec4123f4e4308

[2020-08-11 13:12] #28 closed, assigned to nobody

[2020-08-11 13:15] #2 closed, assigned to nobody

[2020-08-12 13:47] jgadsden commented on #3
Possibly this is the same as https://github.com/mike-goodwin/owasp-threat-dragon-desktop/issues/152

[2020-08-13 08:22] jgadsden opened #34 "Print and PDF reports fail"
**Describe the bug**
The commit https://github.com/OWASP/threat-dragon-desktop/pull/30/commits/4dc937580455a6db8d6f0db999ba665c413fad9e
has introduced a bug where the PDF and print reports fail

**To Reproduce**
Steps to reproduce the behavior:
1. Open a threat model project
2. Click on 'Report'
3. Click on 'Save PDF'
4. PDF is displayed
5. Dialog box is not displayed, and no way to exit unless qu

[2020-08-13 13:53] nickrmc83 opened #35 "Landscape Diagram Export option"
**Is your feature request related to a problem? Please describe.**

👋  I've been using this great tool for a little while but we keep hitting a minor niggle which we'd love to see improved. When exporting reports using the Mac desktop app much of the time the diagrams include scrolls bars. It would be great to either be able to fit-to-width and/or output diagrams as landscape so that the scrollbar

[2020-08-13 14:32] jgadsden commented on #35
Hello @nickrmc83 - I am glad you like Threat Dragon, and this is a good suggestion, thankyou. It would be a good enhancement to have a landscape option ... it maybe could be a tick box in `app/threatmodels/desktopreport.html` with this option being applied in `app/threatmodels/desktopreport.js`.

[2020-08-13 16:41] #34 closed, assigned to jgadsden

[2020-08-14 05:25] Yogendra0Sharma commented on #35
@jgadsden Can you please assign it to me.

[2020-08-14 05:57] jgadsden commented on #35
@Yogendra0Sharma - all yours! thanks for taking this on

[2020-08-14 08:07] jgadsden commented on #15
Hello @MCOffSec - have you had a response yet?  If not can you resend the details to https://flowcrypt.com/me/jongadsden please, sorry it has been a bit delayed.

If the root cause of the vulnerability is the XSS from using threat-dragon-core (still present in v1.3.0) then this is not going to be so easy to fix.  These XSS vulns are because the core package uses jointjs prior to version 3.x - ther

[2020-08-17 07:35] #12 closed, assigned to andk123

[2020-08-18 04:21] tmart234 opened #39 "Templates"
Add feature to import a threat template or a list of pre defined STRIDE threats. Seems ... chaotic to have to readd threats for every model that you design. especially if designing a lot of threat models. When reusing components/elements, you will encounter the same threats... this tool should scale to reuse predefined components/elements and threats. Process of generating threat list is way too m

[2020-08-18 06:03] jgadsden commented on #39
Hello @tmart234 - this is a very good. Threat Dragon does not scale well, at least not at the moment, so it would be good to think of how to introduce templates, hierarchy, etc

Can you expand on your ideas and provide some thoughts on how it would be implemented?

Cheers, Jon

[2020-08-18 09:57] jgadsden commented on #35
Hello @Yogendra0Sharma , we may be releasing Threat Dragon at the end of this week. Do you want to get this fix in to this version 1.3.1 release?

[2020-08-24 07:35] jgadsden commented on #35
Hello @Yogendra0Sharma , we are very close to the release, do you mind if someone else works on this issue so that it can be released?

[2020-08-24 07:36] Yogendra0Sharma commented on #35
Sure.

[2020-09-03 06:18] jgadsden commented on #13
Instructions to provide SHA256 added to release instructions with commit https://github.com/OWASP/threat-dragon-core/commit/e0b26e0d07011e693fdf48ed685277505d201796

[2020-09-03 06:18] #13 closed, assigned to jgadsden

[2020-09-03 07:56] jgadsden commented on #35
After some working through the code, this feature requires a change to be made to the threat dragon core file :
https://github.com/OWASP/threat-dragon-core/blob/main/src/threatmodels/threatmodelreport.html

and so we can put this feature back to version 1.4. This gives much more time for you @Yogendra0Sharma ? I now realise that this is not a good first issue - so I have removed the label - and if

[2020-09-03 14:43] #9 closed, assigned to jgadsden

[2020-09-14 12:05] lmcthbe opened #43 "TDD 1.3 not a trusted app for both Windows and Apple"
Threat Dragon Desktop 1.3 is not recognized as a thrusted application on both Windows and Apple.

Enterprise usually does not allow non thrusted application to be installed on managed computer. TDD 1.3 can still be installed on Windows as there is still a possibility to perform the download/installation however it is completely blocked on Mac OS preventing any installation.

[2020-09-14 12:19] jgadsden commented on #43
Hello @lmcthbe - agreed that we can not sign the Windows nor MacOS applications at the moment. We did have a key pair for the Windows application but that is tied to @mike-goodwin 's computer.

For MacOS can you try these instructions for running the application?
https://github.com/OWASP/threat-dragon-desktop#running-on-macos

It works for me both on MacOS and Windows, and I agree it is not ideal.

[2020-09-14 12:20] jgadsden commented on #1
Auto update requires a signed application, which is proving a problem - see https://github.com/OWASP/threat-dragon-desktop/issues/43 #43

[2020-09-14 14:05] jgadsden commented on #43
Hello @lmcthbe - we use the same principle as we use for ZAP. Can you run ZAP OK? It must be part of the security settings for this MacOS. I am running 10.15.6 if that is relevant (not sure)

[2020-09-14 14:28] lmcthbe commented on #43
@jgadsden  Yes. Same issue with 1.2. My work colleague got new MBP with MDM (Mobile Device Management) in place restricting to install non signed app (to enforce enterprise security policy)
I have also an MBP but no MDM in place yet and of course I was able to install TDD, ZAP however by end of September I will be onboarded in MDM too :-(

[2020-09-14 15:28] jgadsden commented on #43
Hello @lmcthbe - thanks for the confirmation and investigation into the consequences of MDM on the MacOS platform.

This sounds like a severe problem, not only for us but also flagship OWASP projects like ZAP. I will have a look to see if ZAP is aware of this, and what plans they have.

[2020-09-14 16:10] jgadsden commented on #43
@lmcthbe could you try one last thing for me? Could your colleague try navigating to Applications, and rather than double clicking if they could be sure to control+click (in effect a right click) and then select Open.
Double-click will give no option but to bin the app or cancel, but right-click should give the extra third option?
Thanks, Jon

[2020-09-14 18:22] lmcthbe commented on #43
Will ask. Thanks

[2020-09-14 20:55] lmcthbe commented on #43
After control-click and Open, it just gives two options : Move to Trash or Cancel

![Screen Shot 2020-09-14 at 10 50 22 AM](https://user-images.githubusercontent.com/1301592/93137109-f98f1b00-f6aa-11ea-819e-ff2fd4d88321.png)

[2020-09-14 21:41] jgadsden commented on #43
OK, thanks for doing this @lmcthbe - this is very much a problem as your colleague (as you said) is unable to use TD. If this is the same for ZAP then we may be able to get OWASP / ZAP to take action. Threat Dragon is only an incubator project; nowhere near ZAP's flagship status ... yet :-)

I have added a comment to this effect to an existing issue in zaproxy:
https://github.com/zaproxy/zaproxy/i

[2020-09-15 10:41] jgadsden commented on #43
I have made this the focus of version 1.4 release, as this seems to be a blocker and will also be useful for ZAP

[2020-09-15 12:21] jgadsden commented on #43
Apple Developer Distribution Certificate:

https://www.codementor.io/@nitingohel/apple-developer-distribution-certificate-du107wwff

[2020-09-24 14:57] koberbe opened #44 "Unable to install snap package. Cannot find signature."
**Describe the bug**
When trying to install the package threatdragon-1.3.0.amd64.snap, snap reports a signature error.

**To Reproduce**
Steps to reproduce the behavior:
1. Download "threatdragon-1.3.0.amd64.snap"
2. Run `snap install threatdragon-1.3.0.amd64.snap`
3. Output: `error: cannot find signatures with metadata for snap "threatdragon-1.3.0.amd64.snap"`

**Expected behavior**
A clear and c

[2020-09-29 03:49] jgadsden commented on #44
Hello @koberbe - thanks for the nudge on this. We are increasingly getting issues on signing, I guess most platforms are becoming more strict on what can be installed. We have similar problems with OWASP ZAP, so this is not just a Threat Dragon problem.

We have an open issue for signing here https://github.com/OWASP/threat-dragon-desktop/issues/43

As a work-around, could you try the AppImage ins

[2020-09-29 03:51] jgadsden commented on #43
@koberbe has reported signing issue for the Linux snap installer, so this is becoming much more of a problem

[2020-09-30 07:36] koberbe commented on #44
The AppImage works out of the box. Thanks!

[2020-10-02 08:09] jgadsden commented on #43
Similar issue for Amass, using precompiled binaries:
https://github.com/OWASP/Amass/releases

[2020-11-10 09:29] codeHorse87 opened #59 "saved models can't be opened"
**Describe the bug**
A model available created with the same version of the app available on the local file system as json can't be opened with the desktop app.
Because of the error in the screenshot section I checked the model encoding, which is utf-8 according to the OS default settings. Changing the file encoding to Latin-1 respectively Western ISO/IEC 8859-1 did not make a difference. I guess

[2020-11-10 22:54] jgadsden commented on #59
Hello @codeHorse87 - this is not the usual result from opening a previously saved file, and it could be due to an unexpected character in the json
Are you able to attach the json file so that I can try it out? I understand if you do not, as it may have private information in it

[2020-11-11 16:14] codeHorse87 commented on #59
Hi @jgadsden no worries the problem is repeatable. Find a test file here: https://github.com/codeHorse87/exchange/blob/main/new-model.json

[2020-11-12 05:50] jgadsden commented on #59
Thanks @codeHorse87 - with my Threat Dragon Desktop version 1.3.1 running on MacOS 10.15.7  I cloned your exchange repo.

I can open the file and edit it OK. I thought it must be rogue characters in the json but it is not that ... there must be something else that is tripping up Threat Dragon. It is good that you can reproduce it, because if you are seeing it then others will also have this proble

[2020-11-12 13:06] codeHorse87 commented on #59
I think I got to find the root cause. It's not in the model file but in the path name
Thanks @jgadsden  ...
1. I tested your file, and the one I've upload in the report and I was not able to reproduce the issue anymore. Binary comparison issued content equality.
2. Because I was still able to reproduce the exception with the original file I can track it down if the file is stored in a path with Ge

[2020-11-12 15:12] jgadsden commented on #59
Thankyou @codeHorse87 for tracking this down, and it now makes sense why I could not reproduce it.

Did you want to open an enhancement issue - I guess along the lines of working with other character sets for files names + directories?

[2020-11-12 16:18] codeHorse87 commented on #59
Hi @jgadsden  make sense, how should we do it? Should I edited the current issue or create a new one linking to this one?

[2020-11-12 16:35] jgadsden commented on #59
Well, I would create a new issue so that this one stays as it is. Certainly good to link the new one over to this one as well

[2020-11-12 19:02] codeHorse87 opened #62 "Support for other character sets for files names + directories according to the OS default encoding"
As a result of [#59](https://github.com/OWASP/threat-dragon-desktop/issues/59) I propose to improve the support for utf-8 and unicode character sets in the file paths and names
I'm always frustrated when models can't be saved or opened when the target directory or model name includes non Latin1 characters

**Describe the solution you'd like**

Support utf-8/unicode based on the default encoding of

[2020-11-13 06:33] jgadsden commented on #62
This is certainly a good feature to have for Threat Dragon. We really should not be restricted to Latin1 characters for path and file names.
It would be good to get this into version 1.4

[2020-11-13 06:35] jgadsden commented on #59
@codeHorse87 do you want to close this issue, now that #62 is in place?

[2020-11-16 10:26] codeHorse87 commented on #59
closing this issue because of request [#62](https://github.com/OWASP/threat-dragon-desktop/issues/62)

[2020-11-16 10:26] #59 closed, assigned to nobody

[2020-11-17 08:57] gobrtg commented on #39
What about making the threat library/rules that is already there available for editing and maybe adding the possibility of making more than one of each. I'm picturing a tree structure with a generic threat with multiple children beneath that can be applied in each instance. Maybe this could be a stepping stone in the right direction that could hopefully come before 2.x?

[2020-11-17 09:06] gobrtg opened #65 "Threat generation for more than one element"
**Is your feature request related to a problem? Please describe.**
It's frustrating that you have to choose each element and generate threats for each and everyone of them.

**Describe the solution you'd like**
Ability to choose more than one, possibly all elements and generate threats. That way I could generate the standard threats, which should be put in an editable library btw, and then get the

[2020-11-17 10:00] jgadsden commented on #39
Hello @gobrtg - just checking my understanding, this is a hierarchy of threats applied to elements within one diagram? Not a tree of diagrams?

There is a lot of work we need to do on the threat generation rule engine, and this might be related to that

[2020-11-17 11:07] jgadsden commented on #65
Hello @gobrtg , this is a good idea for an enhancement. The changes needed to do this would be in TD core code, so if it is OK I can transfer this issue to the core repo at:
https://github.com/OWASP/threat-dragon-core

[2020-11-17 11:24] gobrtg commented on #65
Ok, I didn't think about that. But yeah, thanks.

[2020-11-17 21:28] tmart234 commented on #39
I was also picturing something like 3 level tree structure: all the STRIDE
categories (or the categories for another methodology) is the only thing
defined and located at the top level for a new template. Then a user would
define a threat category or attack class (2nd level). These
categories/classes would look different depending on the the systems we’re
modeling (embedded, mobile, enterprise). A

[2020-11-18 16:41] jgadsden commented on #35
Raised an issue to support this in the core repo:
https://github.com/OWASP/threat-dragon-core/issues/70

[2020-11-26 16:54] jgadsden commented on #43
Hello @lmcthbe - having looked into this and gone down many dead-ends (or blind alleys? not sure of the term) I came across a solution when installing Portswigger's BurpSuite. Could you try this when you have time please?

	.	Close the error message popup.
	.	In MacOS, go to "System Preferences" > "Security & Privacy".
	.	At the bottom of the dialog, you will see a message saying that the OWASP-Th

[2020-12-27 14:39] zakrush opened #81 "Export JSON as PDF function fails on Arch Linux"
**Describe the bug**
Hello.
I can't export thread model to PDF.
I use ArchLinux and ApImage.

**What happend**
When I were tried export JSON thread modet to PDF it's nothing happend for long time.
I saw only this:
[code]

**Environment**
 - Version:  1.3.1
 - Platform: Desktop (AppImage)
 - OS: Linux (arch)

**To Reproduce**
Give commant:
`./OWASP-Threat-Dragon-1.3.1.AppImage pdf my-first-demonstr

[2020-12-28 09:18] jgadsden commented on #81
Hello @zakrush - thanks for raising this bug. It has shown a gap in our release testing - I test out the command line interface on Linux by installing using the .deb package, but do not test the command line when I am running the AppImage.

Will try and see what is breaking and get  back to you on this ...

[2020-12-31 07:05] jgadsden commented on #81
Hello @zakrush
Are you able to generate pdf reports OK from within the tool, using the graphical front end rather than the command line?

I have tried this on my Trisquel Linux box and it works as expected - I can generate pdf from the command line using the command line  `./OWASP-Threat-Dragon-1.3.1.AppImage pdf new-model.json`. There must be some incompatibility with Arch Linux and AppImage, and

[2021-01-05 09:49] Jonas624 opened #83 "Wiki - Installer location link pointing to the older mike repo"
The links to the Installer on the following wikipage

Point to

When they should point to:

[2021-01-05 09:58] jgadsden commented on #83
Many thanks for this @Jonas624 - having a look now ...

[2021-01-05 10:00] jgadsden commented on #83
... and now fixed up.  OK to close this @Jonas624 ?

[2021-01-05 10:04] Jonas624 commented on #83
Yes - fixed now. Feel free to close. Thanks. 

[2021-01-05 10:07] #83 closed, assigned to jgadsden

[2021-01-06 20:18] injcristianrojas opened #84 "Bigger model display"
When working with bigger models, the model working area is too small, and it also replicates in the generated PDF. It even shows when zooming in. I include an example:

![image](https://user-images.githubusercontent.com/862690/103815942-e382dd00-5042-11eb-98a7-be1f5673a5fc.png)

**Describe the solution you'd like**:
* More space to work, and less blank space.
* (Optional) zoom controls just for th

[2021-01-09 06:43] jgadsden commented on #84
Hello @injcristianrojas
This is a very good point, and it has been a problem for some time - thanks for putting it so clearly.

The root cause is that we are using the open version of jointjs, and this has a lot of limitations for Threat Dragon. We would like to migrate to using draw.io whicch would give the ability to properly zoom in and out, drag sections of the diagram, and so on. All the good

[2021-01-09 19:16] injcristianrojas commented on #84
I will check it out.

[2021-01-14 09:31] zakrush commented on #81
Hello @jgadsden

[2021-01-14 09:44] zakrush commented on #81
Hello @jgadsden

I'm sorry for long response. I had the holidays.

Yes, I cat to generate pdf reports from frontend of application.

Yes. I help you. What should I do for debug and help you?

[2021-01-17 18:09] injcristianrojas commented on #84
@jgadsden I don't have a way of simply launching the app on desktop (on the core repo), or should I switch to the desktop repo?

[2021-01-17 18:39] jgadsden commented on #84
Hello @injcristianrojas - the core repo is common to  both the threat dragon web app at:
https://github.com/OWASP/threat-dragon
and the desktop app at :
https://github.com/OWASP/threat-dragon-desktop

so I agree that  we can not run the core repo by itself, so I tend to use the desktop app for developing / testing the core repo. I think @mike-goodwin  and @andk123 tend to use the web app during de

[2021-01-17 18:56] jgadsden commented on #81
Hello @zakrush thanks for offering to help out. You can print pdf from the GUI but not the command line ... so could you run the command line with debug verbosity?  This is the command :

./OWASP-Threat-Dragon-1.3.1.AppImage pdf my-first-demonstrate-model.json -vvv

(the number of v increases log level)

I have attached a successful pdf print log from MacOS
[pdf-debug.txt](https://github.com/OWASP

[2021-01-18 17:54] jdschoen opened #85 "Change color of trust boundary"
**Describe what problem your feature request solves**
Trust boundary is only green in color.  Threat modeling process that I prefer to follow is coloring trust boundaries where (blue is trusted and red is untrusted).

**Describe the solution you'd like**
It would be great if when you click on a trust boundary and select to edit properties,  a drop down list of colors was available where you could

[2021-01-20 08:06] zakrush commented on #81
Hello @jgadsden
I see that I stopped on
`Shell -> appLoaded at location.url /threatmodel/export/bmV3LW1vZGVsX2NsZWFyLmpzb24=` step.

I have attached my log:
[threadDragonPDF.log](https://github.com/OWASP/threat-dragon-desktop/files/5840978/threadDragonPDF.log)

[2021-01-21 17:43] jgadsden commented on #81
Hello @zakrush - many thanks for the log file. Could you run the same command but try with specifying the full path for the file 'new-model_clear.json' (for example my path was '/Users/jon.gadsden/good-model.json')

Thanks for helping the debug :-)

[2021-01-22 07:39] zakrush commented on #81
Hello @jgadsden thank you for helping.
Yes, full path solved the problem.
I should have guessed the full path myself.

Log is here:
[dragon.log](https://github.com/OWASP/threat-dragon-desktop/files/5854230/dragon.log)

[2021-01-22 09:21] jgadsden commented on #81
Hello @zakrush - very good news that you can now get a pdf. This has shown a problem with the documentation that I will fix ... thanks again for hunting this down.

I have added a new FAQ at https://github.com/OWASP/threat-dragon-desktop/wiki/FAQs#is-there-a-command-line-interface-for-threat-dragon and highlighted that the path to the file needs to be included.

Is that OK with you, and we can clo

[2021-01-22 10:17] jgadsden commented on #85
Hello @jdschoen - this is a good suggestion, thanks for raising it. We are moving to draw.io from jointjs, and this is planned for version 2.0 later this year. I think this ability to change the colours will be provided as standard in draw.io (which I think is now diagram.net), so your suggestion can be introduced when this change happens.

Keeping this issue open until we move to draw.io

[2021-01-29 15:59] jgadsden commented on #85
Hello @jdschoen - I have started the project to use draw.io as the drawing package for Threat Dragon. This drawing package will allow colours to be changed, so you should see this when version 2.0 comes out

[2021-01-29 16:01] #81 closed, assigned to jgadsden

[2021-01-29 16:05] jgadsden commented on #84
Hello @injcristianrojas  - I have started the project to use draw.io as the drawing package for Threat Dragon. This drawing package will sort out the working area, so you should see this when version 2.0 comes out

[2021-03-12 12:32] jthDEV opened #88 "Auto gap generated in Name property"
**Describe the bug**
When I create a property name, the input field forces a blank after 12 characters

**Expected behavior**
Allows to also provide names with

**Environment**
 - Version: [e.g. 1.3.1]
 - Platform: Desktop
 - OS: MacOS

**To Reproduce**
Open Editor, create any object in a diagram and type in the name property. Instead e.g. "12345678901234" you will see "123456789012 3"

**Any addi

[2021-03-13 06:56] jgadsden commented on #88
Hello @jthDEV , thanks for pointing this out. What  is happening is that the drawing package, JointJS, is wrapping the text within the outline of the component. It tries to wrap at word boundaries, but if it can not then it will break a word.

I had not noticed, but when it does this it puts whitespace into the label, and so you see the weird effect that you describe. Can you change the label to r

[2021-03-21 09:23] jgadsden commented on #43
@storkinsj  has reported this again in 'Signed Bundles' OWASP/threat-dragon#52

Needs to be done as a high priority.  The company I work for has this week given me an Apple developer licence ... so I was planning on releasing version 1.3.2 later this month with some bug fixes and properly signed downloads.

[2021-04-23 14:44] skwasniak opened #89 "Wrong SHA256 of `OWASP-Threat-Dragon-1.3.1.AppImage`"
Seems like SHA256 of `OWASP-Threat-Dragon-1.3.1.AppImage`, listed on the download side, is wrong and is the same as for OWASP-Threat-Dragon-1.3.0.AppImage`.

[code]
![image](https://user-images.githubusercontent.com/15678876/115889395-2fbc2680-a454-11eb-91b5-5509063abed8.png)
![image](https://user-images.githubusercontent.com/15678876/115889340-25019180-a454-11eb-88d9-8c7f637080ca.png)

Debian and

[2021-04-23 14:55] skwasniak opened #90 "Unable to install deb package version 1.3.1"
System:
[code]

dpkg output:
[code]

[2021-04-23 15:31] jgadsden commented on #89
@skwasniak thankyou for spotting this. It should be 5cc8b5e173204ff8a2b2cdc8d1660d2312a0d6ce8b5c5fb0df7bd03c4c4fa245
and I have updated the release area for the correct checksum
Could you confirm that  I got it right this time round?
Thanks again, Jon

[2021-04-23 15:47] jgadsden commented on #90
Hello @skwasniak - thanks for trying this out.

Could you try the "threatdragon-1.3.1.amd64.deb" ? This is worth trying because my trisquel Linux identifies my cpu as x86_64 when in fact it is AMD64, and your Linux box may be the same.

If neither version works then there is definitely a problem, and worse is I do not have a true x86_64 linux machine

[2021-04-25 19:33] skwasniak commented on #89
Yes, all good now, thank you!

[2021-04-25 19:33] #89 closed, assigned to jgadsden

[2021-04-25 19:37] skwasniak commented on #90
Hi, PC I'm using is HP EliteBook 840 G6 so `Intel Whiskey Lake` processor, but it works with the AMD package though, so thank you.

Just a side note - there is a warning about the `_` in the architecture name.

[2021-04-25 19:37] #90 closed, assigned to jgadsden

[2021-04-28 11:12] antnks opened #91 "Wrong SHA256 checksum for 1.3.1 snap file"
Please check if the snap file of the 1.3.1 release is correct and has not been replaced with a malicious one

https://github.com/OWASP/threat-dragon-desktop/releases/tag/v1.3.1

Release mentions:
`e86fee639c452ee65c99e21076f4e9b77588897accd068805c66310ed24f9d1c`
but the real file has:
`9d7c96062284a606a4b4fe886ff8fcd9f943a20f526e515747aed590f77c50a0`
[code]

[2021-04-28 13:01] jgadsden commented on #91
Hello @antnks , yes agreed the checksum has not been updated from the 1.3.0 release to the 1.3.1 release. I have now corrected the version 1.3.1 SHA256 checksum for threatdragon-1.3.1.amd64.snap .

Many thanks for spotting this, much appreciated. I can confirm the checksum is as you say:

[code]

[2021-04-28 14:34] jgadsden commented on #91
@antnks is this issue OK to close now?

[2021-04-28 14:36] antnks commented on #91
I think, yes. I hope the remaining checksums are correct
Thanks

[2021-04-28 14:36] #91 closed, assigned to jgadsden

[2021-06-29 19:27] sherbo opened #94 "Save PDF doesn't work"
**Describe the bug**
"Save PDF" doesn't create a PDF & puts the program into an unusable state. The blank white screen is what happens after clicking "Save PDF" 3 times.
![Screen Shot 2021-06-29 at 12 26 10 PM](https://user-images.githubusercontent.com/1081963/123855841-342e1100-d8d5-11eb-8569-0253fbeed62d.png)

**Expected behavior**
I expect to be able to save the report as PDF.

**Environment**

[2021-06-29 19:32] sherbo opened #95 ""print report" doesn't work"
**Describe the bug**
Clicking "Print" on the Demo report results in a red "Report printing failed" modal and nothing happens.

**Expected behavior**
Clicking "Print" on the Demo report should bring up a screen to print the document.

**Environment**
 - Version: 1.4.0
 - Platform: Desktop
 - OS: MacOS 10.15.7

**To Reproduce**
1. Open Demo model
2. Click "Report"
2. Click "Print"

**Any additional

[2021-06-29 20:09] jgadsden commented on #94
Hello @sherbo - many thanks of raising this. I tried it out on my version 1.4 and it certainly happens as you say.

What is happening is that  the demo model has not yet been saved, so Threat Dragon does not yet know where  to store the PDF output, and wrongly just goes blank screen as you describe.

So there are two issues here :
1. The user should be prompted for where to store the model and PDF

[2021-06-29 20:16] jgadsden commented on #95
Hello @sherbo - thanks again for another good bug report. I can not print (except to PDF) for any of my models using version 1.4.0 .

This used to work OK, I will go back in the releases to find where it stopped working

[2021-06-30 20:50] jgadsden commented on #95
Hello @sherbo I found that it was because no printer was available for printing, and so Threat Dragon throws an error.

It is not informative though, it looks as though Threat Dragon has failed, so I have increased the information when this error is displayed.

Could you check that you have a printer available? And that you still get this error when a printer is available for sure?
Thanks again fo

[2021-06-30 22:26] sherbo opened #97 "Diagram needs a "return" button"
**Describe what problem your feature request solves**
When I select a diagram to edit, there's no way to return back to the threat model page. I have to restart the app to return to the threat model.

**Describe the solution you'd like**
Add a "Return" button to the Diagram page.
![Screen Shot 2021-06-30 at 3 25 05 PM](https://user-images.githubusercontent.com/1081963/124039225-5dbf6900-d9b7-11eb-

[2021-06-30 22:27] sherbo commented on #94
Hey @jgadsden I think this only happens for the Demo model. I was able to "Save PDF" for my own threat model.

[2021-07-01 05:20] jgadsden commented on #95
This problem may be deeper than at first thought - I can not print even though I have a printer attached.
@sherbo could you confirm that print does not work even though you have  a printer available?
Many thanks again

[2021-07-01 06:26] jgadsden commented on #97
Hello @sherbo yes, agreed, this is not intuitive

The 'Close Diagram' button is the cross between the toggle grid lines and the delete buttons ... but it has caused problems often before - issue #50 in the Threat Dragon repo.

I will try and do this as a priority, thanks for pointing this out

[2021-07-01 16:31] jgadsden opened #99 "PDF print tests are skipped"
**Describe the bug**
The tests for PDF print in 'test/spec/threatmodels/desktopreport_spec.js' are skipped using xit.

**Expected behavior**
It would be good to reinstate these tests

**Environment**
 - Version: 1.4.0
 - Platform: Desktop
 - OS: all of MacOS / Windows / Linux

**To Reproduce**
* clone github repo
* run command `npm test` at command line
* observe:
[code]

**Any additional context,

[2021-07-01 16:46] jgadsden opened #100 "Remove deprecated package 'owasp-threat-dragon-core'"
**Describe what problem your feature request solves**
The package owasp-threat-dragon-core is now deprecated. It has been combined into Threat Dragon repo (web application version).

**Describe the solution you'd like**
Remove dependency on owasp-threat-dragon-core in package.json. Obtain core files from threat-dragon repo

**Additional context**

[2021-07-02 18:20] lreading commented on #97
It will be much clearer in 2.0 (which is still a good ways out at this point). https://github.com/OWASP/threat-dragon/issues/60#issuecomment-847563191

It's since been updated to say "Close" as opposed to cancel.

[2021-07-03 07:36] #94 closed, assigned to nobody

[2021-07-03 07:36] #95 closed, assigned to nobody

[2021-07-03 10:48] jgadsden commented on #97
We have a pull request in the Threat  Dragon repo that goes some way to making the return button clearer to use, and this is in the threat dragon repo core files - [pull request 206 in that repo](https://github.com/OWASP/threat-dragon/pull/206).

This is only  for Threat  Dragon 1.x - it will have a long term solution in version 2.x

[2021-07-04 08:38] jgadsden commented on #85
Hello @jdschoen - I am moving this to the threat-dragon repository, because that  is where the changes will be made

[2021-07-04 08:40] jgadsden commented on #88
Hello @jthDEV - moving this to repo threat-dragon because this is where the changes can be made

[2021-07-04 08:41] jgadsden commented on #97
Hello @sherbo - moving this issue to repo threat-dragon because that it where the changes are being made for this

[2021-07-04 19:05] jgadsden opened #101 "New model tests are skipped"
**Describe what problem your feature request solves**
The new-model tests for the Welcome Controller are skipped for the moment

**Describe the solution you'd like**
reinstate the new model tests

**Additional context**

[2021-07-04 19:11] jgadsden opened #102 "Edits can be lost when cancelling from demo model"
**Describe the bug**
If the demo model is used to initialise a new threat model, and edits made, then these edits will be lost of the save function is cancelled

**Expected behavior**
If the save is cancelled (or fails) then the threat model is still able to be edited and saved

**Environment**
 - Version: 1.4.0 and earlier
 - Platform: Desktop
 - OS: all of MacOS / Windows / Linux

**To Reproduce

[2021-07-05 08:10] jgadsden opened #104 "No longer prints to a printer"
**Describe the bug**
When printing a report to a printer (not PDF) get error message 'Report printing failed' and no list of printers is displayed. This means that it is now not possible to print from Threat Dragon.
The console messages (using very verbose) are:
[code]

This is not present on versions 1.20 and earlier, these versions work OK. This is only present on versions 1.3.0 onwards

Note th

[2021-07-05 19:30] jgadsden commented on #100
Will move the entire Threat Dragon desktop repo into the Threat  Dragon web application repo. Then archive the desktop repo

[2021-07-08 04:58] #102 closed, assigned to jgadsden

[2021-07-08 07:27] jgadsden commented on #104
Transferred to threat dragon repo

[2021-07-08 07:27] jgadsden commented on #101
Transferred to threat dragon repo

[2021-07-08 07:27] jgadsden commented on #100
Transferred to threat dragon repo

[2021-07-08 07:28] jgadsden commented on #99
Transferred to threat dragon repo

[2021-07-08 07:28] jgadsden commented on #84
Transferred to threat dragon repo

[2021-07-08 07:29] jgadsden commented on #62
Transferred to threat dragon repo

[2021-07-08 07:29] jgadsden commented on #44
Transferred to threat dragon repo

[2021-07-08 07:29] jgadsden commented on #43
Transferred to threat dragon repo

[2021-07-08 07:29] jgadsden commented on #39
Transferred to threat dragon repo

[2021-07-08 07:29] jgadsden commented on #35
Transferred to threat dragon repo

[2021-07-08 07:30] jgadsden commented on #15
Transferred to threat dragon repo

[2021-07-08 07:30] jgadsden commented on #11
Transferred to threat dragon repo

[2021-07-08 07:30] jgadsden commented on #3
Transferred to threat dragon repo

[2021-07-08 07:30] jgadsden commented on #1
Transferred to threat dragon repo